
#button {
    background-color: #800000; 
    border: 10px;
    color:#ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button1 {
    background-color:white;
    border: 10px;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	
    font-size: 16px;
}
	
	
	


body{
	background-image:url("C:\Users\ss\Downloads\res.jpg");
	height:100%;
	background-position:center;
	background-repeat:no repeat;
	background-size:100%;
}